.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-background-color: rgb(87, 19, 19);
}

.progress-bar > .bar {
    -fx-accent: #eb2831;
    -fx-background-insets: 1 1 2 1;
    -fx-padding: 0.20em;
}

#topLine {
    -fx-translate-y: -150px;
}

#newSongButton {
    -fx-translate-y: -55px;
    -fx-translate-x: -200px;
}

#albumCover {
    -fx-translate-y: -20px;
}

#title {
    -fx-translate-y: 10px;
}

#artist {
    -fx-translate-y: -5px;
}

#timeBox {
    -fx-translate-y: -18px;
}

#playButton {
    -fx-translate-y: -18px;
}